<div id="footer">
    <div class="footer-content">Api Src: Govt of India</div>
    <div class="footer-content">https://github.com/abhilashSreenivasa/Covid19_India</div>
    <div class="footer-content">Dev:abhilash Sreenivasa</div>
</div>