html,body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
  background-color:rgb(3, 5, 36);
min-height:100%;
min-width:100%;
max-width: 100%;
    overflow-x: hidden;
    color:rgba(163, 157, 157, 0.918);
    font-size: 12px;
}
body{
    display: flex;
    flex-direction: column;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:35px 0px;
    width:100%;
}

.header{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 35px;
    font-family: Arial, Helvetica, sans-serif;

}
.header span{
    color:rgb(63, 63, 235);
}

.total{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom:20px;
    font-family:  Arial, sans-serif ;
}
.total-cat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:7px;
}
.total-confirmed-text{
    color:rgb(214, 7, 7);
    margin-bottom:10px;
}
.total-active-text{
    color:rgb(63, 63, 235);
    margin-bottom:10px;
}
.total-recovered-text{
    color:rgb(11, 197, 11);
    margin-bottom:10px;
}
.total-deceased-text{
    color:rgb(131, 124, 124);
    margin-bottom:10px;
}
.total-confirmed-delta{
    color:rgb(214, 7, 7);
    font-size:11px;
    margin-bottom:10px;
}
.total-confirmed{
    color:rgb(214, 7, 7);
    font-size: 19px;
}
.total-active-delta{
    color:rgb(3, 5, 36);
    padding:5px 0px;
    font-size:11px;
    
}
.total-active{
    color:rgb(63, 63, 235);
    font-size: 19px;
}
.total-recovered-delta{
    color:rgb(11, 197, 11);
    font-size:11px;
    margin-bottom:10px;
}
.total-recovered{
    color:rgb(11, 197, 11);
    font-size: 19px;
}
.total-deceased-delta{
    color:rgb(131, 124, 124);
    font-size:11px;
    margin-bottom:10px;
}
.total-deceased{
    color:rgb(131, 124, 124);
    font-size: 19px;
}


.state{
    display: flex;
    flex-direction: column;
    border:2px solid black;
}
.state-header{
    display: flex;
    color: azure;
}
.state-each{
    display: flex;
    cursor: pointer;
}
.state-each:hover + .state-name{
    background-color: rgb(4, 109, 4);
    color:black;

}

.state-name-header{
    display: flex;
    align-items: center;
    padding: 9px;
 
    min-width:100px;
    max-width: 100px;
    flex-wrap: wrap;
    background-color: black;

}
.confirmed-header{
    display: flex;
    align-items: center;
    justify-content: left;
    padding:9px;
    min-width:100px;
    max-width: 100px;
    flex-wrap: wrap;
    background-color: black;
    margin:0px 5px;  
}
.active-header{
    display: flex;
    align-items: center;
    justify-content: left;
    padding:9px;
    min-width:100px;
    max-width: 100px;
    flex-wrap: wrap;
    background-color: black;
}
.recovered-header{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 9px;
 
    min-width:100px;
    max-width: 100px;
    flex-wrap: wrap;
    background-color: black;

}
.recovered-header{
    display: flex;
    align-items: center;
    justify-content: left;
    padding:9px;
    min-width:100px;
    max-width: 100px;
    flex-wrap: wrap;
    background-color: black;
    margin:0px 5px;  
}
.deceased-header{
    display: flex;
    align-items: center;
    padding: 9px;
    justify-content: left;
    min-width:100px;
    max-width: 100px;
    flex-wrap: wrap;
    background-color: black;

}
.state-name{
    display: flex;
    align-items: center;
    padding: 9px;
 
    min-width:100px;
    max-width: 100px;
    flex-wrap: wrap;
    background-color: black;
   
}

.confirmed{
    display: flex;
    align-items: center;
    justify-content: left;
    padding:9px;
    min-width:100px;
    max-width: 100px;
    flex-wrap: wrap;
    background-color: black;
    margin:0px 5px;
}
.state-confirmed-delta{
    margin-right:3px;
    font-size:9px;
    color: red;
}
.state-confirmed{

}

.active{
    display: flex;
    align-items: center;
    justify-content: left;
    padding:9px;
    min-width:100px;
    max-width: 100px;
    flex-wrap: wrap;
    background-color: black;
    
}
.state-active{
    
}

.recovered{
    display: flex;
    align-items: center;
    justify-content: left;
    padding:9px;
    min-width:100px;
    max-width: 100px;
    flex-wrap: wrap;
    background-color: black;
    margin:0px 5px;
}
.state-recovered-delta{
    margin-right:3px;
    font-size:9px;
    color: rgb(11, 197, 11);
}
.state-recovered{

}

.deceased{
    display: flex;
    align-items: center;
    justify-content: left;
    padding:9px;
    min-width:100px;
    max-width: 100px;
    flex-wrap: wrap;
    background-color: black;
    
}
.state-deceased-delta{
    margin-right:5px;
    font-size:9px;
    color:rgb(131, 124, 124);
}
.state-deceased{

}
.head-phone{
    display: none;
}
marquee{
    width:50%;
    color:rgb(199, 186, 2);
    padding-bottom: 10px;
}
#footer{
    display: flex;
    background-color:rgb(43, 40, 40) ;
    align-items: center;
    justify-content: space-around;
    color: white;
   margin-top: auto;
   bottom: 0;
  left:0;
  height:50px;
  width:100%;
  font-size:12px;
  padding:0px 5px;
 }








@media only screen and (max-width: 600px) {
    marquee{
        width:80%;
    }

    .state{
        justify-content: center;
        width:95%;
    }
    .state-each{
        font-size:13.5px;
        box-sizing: border-box;
        
       
    }
    .state-name-header{
        justify-content: center;
        min-width:25%;
        max-width:25%;
        flex-wrap: wrap;
        font-size: 11px;
        color:rgb(12, 145, 145);
        justify-content: left;
        padding:5px 2.5px;
        box-sizing: border-box;
       
    }

    .confirmed-header{
        justify-content: center;
        min-width:20%;
        max-width:20%;
        padding:5px 2.5px;
        box-sizing: border-box; 
        margin:0px;
    }
    .active-header{
        justify-content: center;
        min-width:20%;
        max-width:20%;
        padding:5px 2.5px;
        box-sizing: border-box;
    }
    .deceased-header{
        justify-content: center;
        min-width:15%;
        max-width:15%;
        flex-wrap: wrap;
        padding:5px 2.5px;
        box-sizing: border-box;
    }
    .recovered-header{
        justify-content: center;
        min-width:20%;
        max-width:20%;
        padding:5px 2.5px;
        box-sizing: border-box;
        margin:0px;
    }
    .state-name{
        
        min-width:25%;
        max-width:25%;
        flex-wrap: wrap;
        font-size: 12.5px;
        color:rgb(12, 145, 145);
        justify-content: left;
        padding:5px 2.5px;
        box-sizing: border-box;
    }
    .confirmed{
        justify-content: center;
        min-width:20%;
        max-width:20%;
        flex-wrap: wrap;
        padding:2.5px 2.5px;
        box-sizing: border-box;
        margin:0px;
    }
    .active{
        justify-content: center;
        min-width:20%;
        max-width:20%;
        flex-wrap: wrap;
        padding:5px 2.5px;
        box-sizing: border-box;
    }
    .recovered{
        justify-content: center;
        min-width:20%;
        max-width:20%;
        flex-wrap: wrap;
        padding:5px 2.5px;
        box-sizing: border-box;
        margin:0px;
    }
    .deceased{
        justify-content: center;
        min-width:15%;
        max-width:15%;
        flex-wrap: wrap;
        padding:5px 2.5px;
        box-sizing: border-box;
        
    }
    .head-dex{
        display: none;
    }
    .head-phone{
        display:block;
    }
    #footer{
        flex-direction: column;
        align-items: center;
        justify-content:center;
        height:100px;
        font-size:8px;
        

    }
    .footer-content{
        padding:5px 0px;
    }
  
    
    
  }